/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-lightest);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--ifm-color-primary-lightest);
  margin-bottom: 1rem;
}

html[data-theme="dark"] .featureIcon {
  color: var(--bb-main-color);
}

html[data-theme="light"] .featureIcon {
  color: white;
}

.cardFooter {
  margin-top: auto;
  padding-top: 1rem;
}

.buttonIcon {
  margin-left: 0.5rem;
  vertical-align: middle;
}

.heroBanner h1,
.heroBanner p {
  color: white;
}

html[data-theme="dark"] .heroBanner h1,
html[data-theme="dark"] .heroBanner p {
  color: var(--bb-main-color);
}

.button.button--secondary {
  color: white;
}